In [49]:
class Person:
    def __init__(self, name, age, gender, nationality):
        self.name= name
        self.age= age
        self.gender= gender
        self.nationality= nationality

    def do_greet(self):
        print(f"Hi, I am {self.name}. Nice to meet you") 

    def do_introduction(self):
        print(f"I am {self.name} and {self.age} years old. I am a {self.nationality}.")

    def get_annual_income(self):
        return f"{self.name} makes annual income in dollar is."


class Employee1(Person):
    def __init__(self, name, age, gender, nationality, office, position, salary):
        super().__init__(name, age, gender, nationality="Nepali")
        self.office= office
        self.position=position
        self.salary=salary

    def get_annual_income(self):
        return f"Annual Income of {self.nationality} in dollar: {12*self.salary}"


class Employee2(Person):
    def __init__(self, name, age, gender, nationality, office, position, salary):
        super().__init__(name, age, gender, nationality="Foreigner")
        self.office= office
        self.position=position
        self.salary=salary

    def get_annual_income(self):
        return f"Annual Income of {self.nationality} in dollar: {12*self.salary}"

In [50]:
Nepali = Employee1("XYZ", 30, "female", "Nepal", "NTA","Deputy Manager", 1000)
Foreigner = Employee2("ABC", 35, "male", "India", "NOKIA","General Manager", 100000)

In [54]:
def annual_salary(person):
    return person.get_annual_income()

print(annual_salary(Nepali))
print(annual_salary(Foreigner))

Annual Income of Nepali in dollar: 12000
Annual Income of Foreigner in dollar: 1200000

In [52]:
Nepali.do_greet()
Foreigner.do_greet()

Hi, I am XYZ. Nice to meet you
Hi, I am ABC. Nice to meet you

In [53]:
Nepali.do_introduction()
Foreigner.do_introduction()

I am XYZ and 30 years old. I am a Nepali.
I am ABC and 35 years old. I am a Foreigner.